In [1]:
from sqlalchemy import create_engine

engine = create_engine("sqlite+pysqlite:///:memory:", echo=True)

In [2]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-06-21 16:20:37,311 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-21 16:20:37,311 INFO sqlalchemy.engine.Engine select 'hello world'
2023-06-21 16:20:37,312 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ()
[('hello world',)]
2023-06-21 16:20:37,312 INFO sqlalchemy.engine.Engine ROLLBACK

In [4]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

2023-06-21 16:21:00,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-21 16:21:00,573 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2023-06-21 16:21:00,573 INFO sqlalchemy.engine.Engine [generated in 0.00164s] ()
2023-06-21 16:21:00,574 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2023-06-21 16:21:00,574 INFO sqlalchemy.engine.Engine [cached since 18.43s ago] [(1, 1), (2, 4)]
2023-06-21 16:21:00,574 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES(:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

2023-06-21 17:16:33,219 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-21 17:16:33,219 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES(?, ?)
2023-06-21 17:16:33,220 INFO sqlalchemy.engine.Engine [cached since 3063s ago] [(6, 8), (9, 10)]
2023-06-21 17:16:33,220 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}, y: {row.y}")

2023-06-21 16:28:33,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-21 16:28:33,832 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2023-06-21 16:28:33,832 INFO sqlalchemy.engine.Engine [cached since 21.18s ago] ()
x: 1, y: 1
x: 2, y: 4
x: 6, y: 8
x: 9, y: 10
2023-06-21 16:28:33,833 INFO sqlalchemy.engine.Engine ROLLBACK

In [12]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table where y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x}, y: {row.y}")

2023-06-21 17:17:28,639 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-21 17:17:28,640 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table where y > ?
2023-06-21 17:17:28,640 INFO sqlalchemy.engine.Engine [generated in 0.00146s] (2,)
x: 2, y: 4
x: 6, y: 8
x: 9, y: 10
x: 6, y: 8
x: 9, y: 10
2023-06-21 17:17:28,641 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
from sqlalchemy import Session
with Session(engine.connect()) as sess:
    result = sess.execute(
        text("UPDATE some_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}]
    )
    for row in result:
        print(f"x: {row.x}, y: {row.y}")

2023-06-21 16:28:33,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-21 16:28:33,832 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2023-06-21 16:28:33,832 INFO sqlalchemy.engine.Engine [cached since 21.18s ago] ()
x: 1, y: 1
x: 2, y: 4
x: 6, y: 8
x: 9, y: 10
2023-06-21 16:28:33,833 INFO sqlalchemy.engine.Engine ROLLBACK